.top {
  display: flex;
  justify-content: space-between;
}

.image {
  padding: 10px;
}
.button {
  margin-right: 15px;
  display: flex;
  align-items: center;
  width: fit-content;
}
.button_element {
  background-color: #bd6464;
  color: white;
  font-weight: bold;
  border-radius: 40px;
  &:hover {
    background-color: #bd6464;
    color: white;
  }
}
