@import "variables";

.container {
  background-color: $lightColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 35px;
  h1 {
    font-size: 35px;
    color: $backGroundDark;
  }
  &_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    width: 100%;

    &_text {
      width: 55%;
    }
    button {
      width: 10%;
    }
  }
}
