.general {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  &_text {
    display: flex;
    justify-content: center;
    gap: 15px;
    :first-child {
      justify-content: center;
      width: 50%;
    }
  }
}
@media screen and (max-width: 800px) {
  .general {
    display: flex;
    flex-direction: column;
    width: fit-content;
    &_text {
      display: flex;
      flex-direction: column;
      :first-child {
        width: 100%;
      }
    }
  }
}
