@import "variables";

.updateForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    color: $backGroundDark;
    padding: 10px;
    font-size: 30px;
  }
  button {
    margin-top: 10px;
    padding: 10px;
  }
}
.avatars {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.avatar {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: solid black 1px;
  border-radius: 5px;
  width: fit-content;
}
