@import "variables";

.general {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: $backGroundDark;

  &_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vh;
  }
  &_email {
    padding: 10vh;
    background-color: white;
  }
}
.popcorn {
  height: fit-content;
  background-color: #d6a8a8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  &_icon {
    margin-top: 15px;
  }

  &_text {
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: $lightColor;
    &_link {
      margin-top: 15px;
      color: $lightColor;
      text-decoration: none;
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
      letter-spacing: 2px;
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 800px) {
  .popcorn {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    &_text {
      text-align: center;
    }
    &_icon {
      margin-bottom: 10px;
    }
  }
}
