@import "variables";

.form {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 30px;
  margin: auto;

  padding: 10px;
  .title {
    margin: 0;
    text-align: left;
    color: $backGroundDark;
  }
  .subtitle {
    text-align: right;
    color: $backGroundDark;
  }

  .panel_general {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
