.surpriseGirl {
  &_image {
    left: 100px;
    margin-top: 150px;
    position: absolute;
    transform: rotate(-30deg);
    z-index: 1;
  }
  &_secondImage {
    z-index: 1;
    position: absolute;
    transform: rotate(30deg);
    margin-left: 270px;
    margin-top: 320px;
  }
  &_svg {
    position: relative;
    z-index: 0;
  }
}
@media (max-width: 900px) {
  .surpriseGirl {
    &_image {
      visibility: hidden;
    }
    &_secondImage {
      visibility: hidden;
    }
  }
}
