.dashboard {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  &_user {
    width: 40%;
    padding: 20px;
    height: 100%;
  }
  &_table {
    width: 100%;
    padding: 2%;
    table {
      margin-top: 10px;
    }
  }
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}
