.dashboard {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  &_user {
    width: 40%;
    padding: 20px;
    height: 100%;
  }
  &_table {
    padding: 20px;
    table {
      margin-top: 10px;
    }
  }
}
