@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  gap: 10px;

  background-color: $backGroundDark;
  &_top {
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $lightColor;
  }
  h1 {
    font-size: 40px;
  }
}
.bottom {
  padding: 5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $secondaryColor;
  color: $lightColor;
  gap: 4%;

  &_text {
    display: flex;
    gap: 29px;
    flex-direction: column;
    justify-content: space-between;
  }
  p {
    font-size: 30px;
  }
}
.allDevices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 8%;
  width: 100%;

  &_text {
    width: 100%; /* Cambiado para ocupar todo el ancho en pantallas pequeñas */
    display: flex;
    color: $backGroundDark;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    a {
      margin-top: 15px;
      width: fit-content;
    }
    h1 {
      text-align: center; /* Cambiado para centrar en pantallas pequeñas */
    }
    p {
      font-size: 25px;
      margin-top: 10px;
      text-align: center; /* Cambiado para centrar en pantallas pequeñas */
    }
  }
}

@media (min-width: 900px) {
  .allDevices {
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente los elementos */
    &_text {
      width: 55%; /* Vuelve al ancho original para pantallas más grandes */
      h1 {
        text-align: right; /* Texto alineado a la derecha en pantallas más grandes */
      }
      p {
        text-align: end; /* Texto alineado a la derecha en pantallas más grandes */
      }
    }
  }
}

.genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  text-align: center;
}

.genres_text {
  width: 100%;
  max-width: 800px; /* Limita el ancho máximo del texto para que no se vea demasiado ancho en pantallas grandes */
  color: $backGroundDark;
}

.genres_text h1 {
  font-size: 3rem; /* Tamaño de fuente más grande para pantallas grandes */
}

.genres_text p {
  font-size: 1.5rem; /* Tamaño de fuente más grande para pantallas grandes */
}

.genres_text a {
  margin-top: 15px;
  display: inline-block; /* Alinea el botón en línea con el texto */
}

@media screen and (min-width: 1500px) {
  .genres {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .genres_text {
    width: 50%; /* Reducir el ancho del texto en pantallas más grandes */
    text-align: left; /* Alinear el texto a la izquierda en pantallas más grandes */
  }
  .genres_icon {
    width: 50%; /* Reducir el ancho del texto en pantallas más grandes */
  }
}
.donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  text-align: center;

  &_text {
    width: 100%;
    max-width: 800px; // Limita el ancho máximo del texto para pantallas grandes
    color: $backGroundDark;

    h1 {
      font-size: 3rem; // Tamaño de fuente más grande para pantallas grandes
      text-align: left; // Alinear el título a la izquierda en pantallas grandes
    }

    p {
      font-size: 1.5rem; // Tamaño de fuente más grande para pantallas grandes
      margin-top: 10px;
      text-align: left; // Alinear el texto a la izquierda en pantallas grandes
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    &_text {
      width: 50%; // Reducir el ancho del texto en pantallas más grandes
      text-align: left; // Alinear el texto a la izquierda en pantallas más grandes
    }
  }
}

.botomCTA {
  display: flex;
  justify-content: center;
}

.faq {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  h2 {
    color: $backGroundDark;
    font-size: 3rem; // Tamaño de fuente más grande para pantallas grandes
    text-align: center; //
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_accordion {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 900px) {
  .faq_content_accordion {
    width: 100%;
  }
  .faq_content_svg {
    overflow: hidden;
    transform: (scale(-10deg));
    display: none;
  }
}
