@import "variables";
.title {
  text-align: left;
  color: $backGroundDark;
}
.subtitle {
  text-align: center;
  color: $backGroundDark;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  background-color: $secondaryColor;
  padding: 10px;
  border-radius: 10px;
}

.root {
  background-color: white;
  border-radius: 5px;
  height: 50vh;
}
.panel {
  display: flex;
  padding: 15px;
  flex-direction: column;
  gap: 10px;
}
