@import "variables";
.title {
  text-align: left;
  color: $backGroundDark;
}
.subtitle {
  text-align: center;
  color: $backGroundDark;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  background-color: $secondaryColor;
  padding: 10px;
  border-radius: 10px;
}

.root {
  background-color: white;
  border-radius: 5px;
  height: 50vh;
}
.panel {
  display: flex;
  padding: 15px;
  flex-direction: column;
  gap: 10px;
}
.wrapper {
  position: relative;
  margin-bottom: 30px;
}

.dropzone {
  border-radius: 5px;
  border: dotted 1px $backGroundDark;
  border-width: 1px;
  padding-bottom: 50px;
}

.icon {
  color: $backGroundDark;
}

.control {
  position: absolute;
  width: 250px;
  left: calc(50% - (125px));
  bottom: -20px;
}
