.test {
  width: 150px;
  height: 150px;
  position: relative; /* Asegura que z-index funcione */
  z-index: 0; /* El iframe estará detrás del div.icon */
}

.icon {
  position: relative; /* Asegura que z-index funcione */
  z-index: 1; /* El div.icon estará delante del iframe */
}
